#### Notebook for Secondary Goodreads Data Creation
##### Victoria Schaller - 3/18/2025

In [1]:
# imports
import pandas as pd

In [2]:
books = pd.read_csv("book_data/books.csv")
ratings = pd.read_csv("book_data/ratings.csv")

##### Create Full Master Data
Save as csv

In [3]:
# create master full data
full_ratings_w_books = books.merge(ratings, left_on='book_id', right_on='book_id', how='inner')

In [4]:
full_ratings_w_books.head(2)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,user_id,rating
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2886,5
1,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,6158,5

In [5]:
full_ratings_w_books.shape

(5976479, 25)

In [6]:
full_ratings_w_books.to_csv('book_data/sec_full_detail_ratings.csv', index=False)

##### Create Cleaned Master Data
Save as csv

In [7]:
# create clean full data
minimal_rating = full_ratings_w_books[['original_title', 'book_id', 'user_id', 'rating']]

In [8]:
minimal_rating.head(2)

     original_title  book_id  user_id  rating
0  The Hunger Games        1     2886       5
1  The Hunger Games        1     6158       5

In [9]:
minimal_rating.shape

(5976479, 4)

In [10]:
minimal_rating.to_csv('book_data/sec_ratings_w_name.csv', index=False)

##### Create Rating Matrix
Save as csv

In [11]:
# Create the rating matrix with user_id as rows and book_id as columns
rating_matrix = minimal_rating.pivot_table(index='book_id', columns='user_id', values='rating', aggfunc='first')

In [12]:
# Reset index to bring book_id back as a column
rating_matrix.reset_index(inplace=True)

In [13]:
# Merge with the book_name for each book_id
book_names = minimal_rating[['book_id', 'original_title']].drop_duplicates()
rating_matrix = pd.merge(book_names, rating_matrix, on='book_id', how='right')

In [14]:
# Reorder columns so that book_name and book_id are the first two columns
rating_matrix = rating_matrix[['original_title', 'book_id'] + [col for col in rating_matrix.columns if col not in ['original_title', 'book_id']]]

In [15]:
rating_matrix.shape

(10000, 53426)

In [16]:
rating_matrix.to_csv('book_data/sec_rating_matrix.csv', index=False)